{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="mb-4">Original Article:</h1>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4 w-auto">
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="{{ original_article.urlToImage }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ original_article.title }}</h5>
                <p class="card-text">{{ original_article.description }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ article.source_name }}</small>
                <a href="{{ original_article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
            </div>
        </div>
    </div>
    <div class="col">
        <h1>Source: {{ original_article.source_name }}</h1>
        <h1>Source Bias = {{ original_bias }}</h1>
    </div>
</div>
<hr>
<h1 class="mb-4">Bias Breakdown for this Topic:</h1>

<div class="container w-auto">
    <div class="row">
        <div class="col-sm">
            <h4 class="text-danger">Far Left</h4>
            {% for article in articles.far_left %}
            <div class="row">
            <div class="card h-100" style="width: 15rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>
        <div class="col-sm">
            <h4 class="text-danger">Left</h4>
            {% for article in articles.left %}
            <div class="row">
            <div class="card h-100" style="width: 15rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>

        <div class="col-sm">
            <h4 class="text-warning">Centre-Left</h4>
            {% for article in articles.centre_left %}
            <div class="row">
            <div class="card h-100" style="width: 10rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>

        <div class="col-sm">
            <h4 class="text-warning">Centre</h4>
            {% for article in articles.centre %}
            <div class="row">
            <div class="card h-100" style="width: 15rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>

        <div class="col-sm">
            <h4 class="text-info">Centre-Right</h4>
            {% for article in articles.centre_right %}
            <div class="row">
            <div class="card h-100" style="width: 15rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>

        <div class="col-sm">
            <h4 class="text-primary">Right</h4>
            {% for article in articles.right %}
            <div class="row">
            <div class="card h-100" style="width: 15rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>
        <div class="col-sm w-auto">
            <h4 class="text-primary">Far Right</h4>
            {% for article in articles.far_right %}
            <div class="row">
            <div class="card h-100" style="width: 15rem;">
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ article.source_name }}</small>
                    <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
                </div>
            </div>
            </div>
            {% empty %}
            <p>No articles</p>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<h1>Unknown Bias:</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for article in articles.unknown %}
    <div class="card h-100" style="width: 15rem;">
        <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-muted">{{ article.source_name }}</small>
            <a href="{{ article.url }}" class="btn btn-sm btn-primary" target="_blank">Read More</a>
            <a href="http://127.0.0.1:8000/NewsApp/Articles/{{ article.id }}" class="btn btn-sm btn-primary" target="_blank">Check Bias</a>
        </div>
    {% empty %}
    <p>No articles</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
